#searchwrapper 
{
    width:310px; /*follow your image's size*/
    height:40px; /*follow your image's size*/
    background-image:url(../Images/searchbox.jpg);
    background-repeat:no-repeat; /*important*/
    padding:0px;
    margin:0px;
    position:relative; /*important*/
}
  
.searchbox 
{
    color:White;
    font-weight:bold;
    border:0px; /*important*/
    background-color:transparent; /*important*/
    position:absolute; /*important*/
    top:10px;
    left:9px;
    width:256px;
    height:28px;
}
 
.searchbox_submit 
{
    border:0px; /*important*/
    background-color:transparent; /*important*/
    position:absolute; /*important*/
    top:4px;
    left:265px;
    width:32px;
    height:28px;
}

h1, h2
{
    color: #19366F;
}