<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SkybraryEntities" connectionString="metadata=res://*/SkybraryDB.csdl|res://*/SkybraryDB.ssdl|res://*/SkybraryDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=89.38.209.15;user id=alex;password=linux2oo2;persist security info=True;database=sky&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>